.mypy_cache/
.direnv/
result/
env/
bootstrap/
www
!www/azure/instances-specs.json
next/node_modules/
next/out/
next/public/
next/.next/
next/build/
golden
mocks
next/next-env.d.ts
.wrangler
deployment/node_modules
