@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto+Mono:wght@400;500;600&display=swap');

$font: 'Inter', Helvetica, sans-serif;
$mono: 'Roboto Mono', monospace;

$white: #FFFFFF;

$gray-0: #1A1A1C;
$gray-1: #303037;
$gray-2: #5A5A5F;
$gray-3: #8A8A8E;
$gray-4: #CFCFD6;
$gray-5: #E3E3E9;
$gray-6: #F7F7F9;
$gray-7: #FAFAFB;

$purple-0: #5A0A76;
$purple-1: #9C25C7;
$purple-2: #C055E6;
$purple-3: #E59DFF;
$purple-4: #F1C9FF;
$purple-5: #F9E6FF;
$purple-6: #FCF4FF;

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: initial;
}

body {
  font: 100% $font;
  color: $gray-1;
  padding: 0;
}

a {
  color: $purple-1;
  &:hover, &:focus {
    color: $purple-0;
  }
}

.logo {
  transition: all 0.1s ease;
  &:hover {
    opacity: 0.9;
  }
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    overflow: auto;
  }
}

.nav {
  background-color: $purple-1;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ad-banner {
    color: $white;
    text-decoration: none;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
}

table {
  border: 1px solid $gray-5;
  font-size: 14px;
  width: 100%;
  margin-bottom: 24px !important;
  border-radius: 6px;

  th {
    font-weight: 600;
    background-color: $gray-7 !important;
  }

  td, th {
    vertical-align: middle;
  }

  a {
    text-decoration: none !important;
  }

  &.table-mono {
    font-family: $mono;
    th {
      background-color: $white !important;
    }
    tbody {
      tr {
        &:nth-child(even) {
          td {
            background-color: $gray-7 !important;
          }
        }
        &.no-link {
          td {
            color: $white;
            background-color: $gray-0 !important;
          }
        }
      }
    }
  }

  &#Unavailable {
    border-color: #F8B6AD;
    th {
      background-color: #FFECEA !important;
      color: #76180A !important;
    }
    th, td {
      border-color: #F8B6AD !important;
    }
  }
}

.fs-12 {
  font-size: 12px;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  &.btn-white {
    background-color: $white;
    color: $gray-0;
    border: 1px solid $gray-5;
    &:hover {
      border-color: $gray-3;
    }
  }
  &.btn-purple {
    background-color: #C055E6;
    color: $white;
    &:hover {
      background-color: #CF67F4;
      border-color: #D37BF2;
    }
  }
  &.btn-icon {
    display: flex;
    align-items: center;
  }
}

.column-left {
  max-width: 400px;
  width: 100%;
  padding: 24px 0 24px 24px;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.column-middle {
  flex: 1 1 auto;
  padding: 24px 40px;
  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.column-right {
  max-width: 350px;
  width: 100%;
  background-color: $gray-7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid $gray-5;
  @media screen and (max-width: 768px) {
    border-radius: 6px;
    border: 1px solid $gray-5;
  }
  .sidebar-section {
    padding: 24px;
    @media screen and (max-width: 768px) {
      padding: 20px;
    }
  }

  .links {
    overflow: auto;
    flex: 1 1 auto;
    padding-bottom: 0;
    border-bottom: 1px solid $gray-5;
  }
}

.column-left--parent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: auto;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.columns {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: hidden;
  padding: 0;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    overflow: initial;
    padding: 16px;
  }
}


.github-login {
  padding: 20px;
  background-color: $gray-6;
  border: 1px solid $gray-5;
  border-radius: 6px;
  font-size: 14px;
  a {
    text-decoration: none;
  }
}

.material-icons {
  font-size: 18px !important;
}

.value {
  border: 1px solid;
  border-radius: 3px;
  color: $gray-0;
  font-family: $mono;
  padding: 4px 5px;
  font-size: 11px;
  line-height: 11px;
  display: inline-block;
  font-weight: 500;
  text-transform: lowercase;

  &.value-true {
    background-color: #ACF8DD;
    border-color: #55D4A7;
  }

  &.value-false {
    background-color: #FFECEA;
    border-color: #F8B6AD;
  }

  &.value-current {
    background-color: #F9E6FF;
    border-color: #E59DFF;
  }

  &.value-previous {
    background-color: $gray-6;
    border-color: $gray-4;
  }
}
