body {
  padding: 5px 20px;
}

.announcement {
  background-color: #f9e6ff;
  width: 100%;
  margin: 20px 0;
  padding: 20px 20px 20px 56px;
  color: #5a0a76;
  background-image: url(https://pbs.twimg.com/profile_images/1468272865820688394/Te1dOx4M_400x400.jpg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 10px 12px;
}

.announcement a {
  color: #5a0a76;
  font-weight: bold;
}

.hidden {
  display: none;
}

.nav-position {
  margin-right: auto;
  border-bottom: 0 !important;
  padding-bottom: 0px !important;
}

.nav-position li {
  margin-right: 4px;
}

.nav-position li a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #5a0b76;
  padding: 14px 20px;
}

.nav-position a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none !important;
}

.nav-position li a {
  color: #fff;
}

.nav-position li.active a {
  color: #303037 !important;
}

.nav .active a {
  background-color: white;
}

.ec2instances .page-header {
  margin-top: 0;
  border-bottom: 0;
}

.adjust-for-tabs {
  padding-bottom: 12px;
}

.page-h1 {
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
}

.dataTables_filter {
  float: right;
}

#menu {
  margin-bottom: 10px;
}

#filters {
  margin-bottom: 10px;
  /* float so that the search input from the data table below can share the same 'row' as the filters */
  float: left !important;
  min-width: 600px;
}

#filters input {
  width: 5rem;
}

#data {
  margin-top: 0px !important;
  border-width: 0px !important;
  clear: both;
}

#data a {
  color: #333;
  text-decoration: underline;
}

#data tr {
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #e9e7ec;
}

#data tr.highlight,
#data tr.highlight:hover {
  background-color: #f9e6ff;
}

#data th,
#data td {
  white-space: nowrap;
}

#data th {
  background-color: #eee;
}

#data th input[type='text'] {
  width: 100%;
}

#data td {
  font-size: 13px;
  text-align: right;
}

#data td.name {
  text-align: left;
}

#data td.memory {
  text-align: right;
}

#data td.computeunits {
  text-align: left;
}

#data td.storage {
  text-align: right;
}

#data td.architecture {
  text-align: right;
}

#data td.ioperf {
  text-align: left;
}

#data td.maxips {
  text-align: right;
}

#data td.maxenis {
  text-align: right;
}

#data td.apiname {
  font-family: 'Roboto Mono', monospace;
  text-align: left;
}

#data td.apiname a {
  color: #9c25c7;
}

#data td.apiname a:hover,
#data td.apiname a:focus {
  color: #5a0a76;
}

.dropdown-menu .active a {
  color: #fff !important;
  background: #9c25c7 !important;
}

.dropdown-menu .active a .dropdown-region {
  color: #fff !important;
  background: #9c25c7 !important;
}

.dropdown-menu li > a:hover {
  background: #f9e6ff !important;
  color: #303037 !important;
}

.dropdown-menu li > a:hover .dropdown-region {
  background: #f9e6ff !important;
  color: #303037 !important;
}

.dropdown-menu li > a {
  color: #303037 !important;
  text-decoration: none !important;
}

.dropdown-menu {
  max-height: 400px;
  min-width: 500px;
  overflow: auto;
}

.dropdown-search {
  max-width: 460px;
}

.dropdown-region {
  float: right;
  color: #8a8a8e;
}

.dropdown-label {
  font-size: 12px;
  color: #6c757d;
  font-weight: 600;
  padding-left: 12px;
}

.share-url {
  text-align: left;
  margin-left: 5px;
  margin-bottom: 0px !important;
}

.btn-sm {
  height: 26px;
  padding: 3px 0px;
}

.well {
  font-size: 12px;
  color: #6c757d;
}

.well .right {
  text-align: right;
}

.well .linkto a {
  font-family: 'Roboto Mono', monospace;
  color: #9c25c7;
  text-decoration: none;
}

.well .linkto a:hover,
.well .linkto a:focus {
  color: #5a0a76;
}

.btn-primary {
  color: #303037 !important;
  background-color: #fff !important;
  border-color: #e3e3e9 !important;
  outline-color: #f9e6ff !important;
}

.btn.btn-danger {
  background-color: #b84737 !important;
  outline-color: #f8b6ad !important;
}

.btn-primary:hover {
  color: #303037 !important;
}

.btn-primary:active {
  color: #303037 !important;
}

/* DataTables: http://datatables.net/blog/Twitter_Bootstrap_2 */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

table.table thead {
  position: sticky;
  z-index: 12;
  top: 0;
}

table.table-mono th {
  background-color: #ffffff !important;
}

table.table abbr {
  text-decoration: underline !important;
}

.wrap-table {
  border-top: 1px solid #e3e3e9;
}

/* table.table thead .sorting {
  background: url('datatables/images/sort_both.png') no-repeat center right;
}
table.table thead .sorting_asc {
  background: url('datatables/images/sort_asc.png') no-repeat center right;
}
table.table thead .sorting_desc {
  background: url('datatables/images/sort_desc.png') no-repeat center right;
}

table.table thead .sorting_asc_disabled {
  background: url('datatables/images/sort_asc_disabled.png') no-repeat center right;
}
table.table thead .sorting_desc_disabled {
  background: url('datatables/images/sort_desc_disabled.png') no-repeat center right;
} */

/* This class is applied to the DataTables search box by our own code once it renders */
input.search {
  margin-left: 5px;
  width: 150px;
  display: inline;
}

/* Bootstrap overrides *******************************************************/
.tooltip-inner {
  /* let text wrap in tooltips */
  white-space: pre-wrap;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  background: #fafafa;
  /*
  border-top: solid 1px #eee;
  */
}

.footer div {
  margin-top: 8px;
}

.form-control {
  font-size: 14px !important;
}

.banner-ad {
  font-size: 14px;
  color: white;
  margin: 0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before {
  font-size: 1.6em;
  color: #303037;
  height: 0.8em;
  width: 0.8em;
  background-color: #fff;
  display: block;
  position: absolute;
  box-shadow: 0 0 0px #444;
  text-align: center;
  content: '\203A';
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before {
  color: #303037;
  height: 0.8em;
  width: 0.8em;
  background-color: #fff;
}
