body {
  padding: 5px 20px;
}

#footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#footer, #footer a {
  font-size: 10px;
  color: #333;
}

/* DataTables: http://datatables.net/blog/Twitter_Bootstrap_2 */

table.table {
  margin-top: 15px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
 
table.table thead .sorting { background: url('datatables/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('datatables/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('datatables/images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('datatables/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('datatables/images/sort_desc_disabled.png') no-repeat center right; }
