@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto+Mono:wght@400;500;600&display=swap");
html, body {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: initial;
}

body {
  font: 100% "Inter", Helvetica, sans-serif;
  color: #303037;
  padding: 0;
}

a {
  color: #9C25C7;
}
a:hover, a:focus {
  color: #5A0A76;
}

.logo {
  transition: all 0.1s ease;
}
.logo:hover {
  opacity: 0.9;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main {
    overflow: auto;
  }
}

.nav {
  background-color: #9C25C7;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .ad-banner {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
}
.nav .ad-banner:hover {
  text-decoration: underline;
}

table {
  border: 1px solid #E3E3E9;
  font-size: 14px;
  width: 100%;
  margin-bottom: 24px !important;
  border-radius: 6px;
}
table th {
  font-weight: 600;
  background-color: #FAFAFB !important;
}
table td, table th {
  vertical-align: middle;
}
table a {
  text-decoration: none !important;
}
table.table-mono {
  font-family: "Roboto Mono", monospace;
}
table.table-mono th {
  background-color: #FFFFFF !important;
}
table.table-mono tbody tr:nth-child(even) td {
  background-color: #FAFAFB !important;
}
table.table-mono tbody tr.no-link td {
  color: #FFFFFF;
  background-color: #1A1A1C !important;
}
table#Unavailable {
  border-color: #F8B6AD;
}
table#Unavailable th {
  background-color: #FFECEA !important;
  color: #76180A !important;
}
table#Unavailable th, table#Unavailable td {
  border-color: #F8B6AD !important;
}

.fs-12 {
  font-size: 12px;
}

.btn {
  font-size: 14px;
  font-weight: 600;
}
.btn.btn-white {
  background-color: #FFFFFF;
  color: #1A1A1C;
  border: 1px solid #E3E3E9;
}
.btn.btn-white:hover {
  border-color: #8A8A8E;
}
.btn.btn-purple {
  background-color: #C055E6;
  color: #FFFFFF;
}
.btn.btn-purple:hover {
  background-color: #CF67F4;
  border-color: #D37BF2;
}
.btn.btn-icon {
  display: flex;
  align-items: center;
}

.column-left {
  max-width: 400px;
  width: 100%;
  padding: 24px 0 24px 24px;
}
@media screen and (max-width: 768px) {
  .column-left {
    padding: 0;
  }
}

.column-middle {
  flex: 1 1 auto;
  padding: 24px 40px;
}
@media screen and (max-width: 768px) {
  .column-middle {
    padding: 0;
  }
}

.column-right {
  max-width: 350px;
  width: 100%;
  background-color: #FAFAFB;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid #E3E3E9;
}
@media screen and (max-width: 768px) {
  .column-right {
    border-radius: 6px;
    border: 1px solid #E3E3E9;
  }
}
.column-right .sidebar-section {
  padding: 24px;
}
@media screen and (max-width: 768px) {
  .column-right .sidebar-section {
    padding: 20px;
  }
}
.column-right .links {
  overflow: auto;
  flex: 1 1 auto;
  padding-bottom: 0;
  border-bottom: 1px solid #E3E3E9;
}

.column-left--parent {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .column-left--parent {
    flex-direction: column;
  }
}

.columns {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  overflow: hidden;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .columns {
    flex-direction: column;
    overflow: initial;
    padding: 16px;
  }
}

.github-login {
  padding: 20px;
  background-color: #F7F7F9;
  border: 1px solid #E3E3E9;
  border-radius: 6px;
  font-size: 14px;
}
.github-login a {
  text-decoration: none;
}

.material-icons {
  font-size: 18px !important;
}

.value {
  border: 1px solid;
  border-radius: 3px;
  color: #1A1A1C;
  font-family: "Roboto Mono", monospace;
  padding: 4px 5px;
  font-size: 11px;
  line-height: 11px;
  display: inline-block;
  font-weight: 500;
  text-transform: lowercase;
}
.value.value-true {
  background-color: #ACF8DD;
  border-color: #55D4A7;
}
.value.value-false {
  background-color: #FFECEA;
  border-color: #F8B6AD;
}
.value.value-current {
  background-color: #F9E6FF;
  border-color: #E59DFF;
}
.value.value-previous {
  background-color: #F7F7F9;
  border-color: #CFCFD6;
}

/*# sourceMappingURL=style.css.map */
