name: Production Release
concurrency: production-release
on:
    schedule:
        - cron: "0 */8 * * *"
    push:
        branches:
            - main
    workflow_dispatch:
        

permissions:
  id-token: write

jobs:
    build:
        name: Build and Deploy to Production
        runs-on: ubuntu-22.04
        steps:
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@main # Or a specific version
              with:
                role-to-assume: "arn:aws:iam::562362324217:role/GithubActions_ec2instances.info_ReadOnly"
                aws-region: "us-east-1"
          
            - uses: actions/checkout@v4

            - uses: actions/setup-go@v5
              with:
                  go-version: 1.25.3

            - run: ./fetch_data.sh
              env:
                  SLACK_WEBHOOK_URL: ${{ secrets.SCRAPER_SLACK_WEBHOOK_URL }}

            - name: Upload to S3
              run: |
                aws s3 sync ./www s3://${{ secrets.AWS_S3_BUCKET }}/

            - name: Success Slack Notify
              if: ${{ success() }}
              uses: slackapi/slack-github-action@v1.16.0
              with:
                  payload: '{"blocks":[{"type":"section","text":{"type":"mrkdwn","text":":rocket: **${{ env.SERVICE }}** deployed. ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}}]}'
              env:
                  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
                  SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
                  SERVICE: ec2instances-production

            - name: Failure Slack Notify
              if: ${{ failure() }}
              uses: slackapi/slack-github-action@v1.16.0
              with:
                  payload: '{"blocks":[{"type":"section","text":{"type":"mrkdwn","text":":see_no_evil: **${{ env.SERVICE }}** wasn''t deployed. ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}}]}'
              env:
                  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
                  SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
                  SERVICE: ec2instances-production
